# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local only
.vscode/*
.env.local
server-middleware/mock-headers.js

#Temp
Temp/
temp/
*.tmp

*.tar
*.tar.xz